<table id="user-account-details" border="0" align="left">
    <tr>
        <td align="left" width="90"><h3>User Details</h3></td>
        <td>&nbsp;
        ##					#if ($item.canEdit($user))
        ##					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element","$element.getFullXMLName()").addPathInfo("search_field","$search_field").addPathInfo("search_value","$search_value").addPathInfo("popup",$dataPopup)" >Edit</a>
        ##					#end
        </td>
    </tr>
    <tr>
        <td align=left>Username: </td>
        <td>$!item.getProperty("login")</td>
    </tr>
    <tr>
        <td align=left>First Name: </td>
        <td>$!item.getProperty("firstname")</td>
    </tr>
    <tr>
        <td align=left>Last Name: </td>
        <td>$!item.getProperty("lastname")</td>
    </tr>
    <tr>
        <td align=left>Email: </td>
        <td>$!item.getProperty("email")</td>
    </tr>
    <tr>
        <td align=left>Verified: </td>
        <td id="user-verified-switch"></td>
##        <td>#if($item.getBooleanProperty("verified"))YES #else NO #end</td>
    </tr>
    <tr>
        <td align=left>Enabled: </td>
        <td id="user-enabled-switch"></td>
    ##        <td>#if($item.getBooleanProperty("enabled"))YES #else NO #end</td>
    </tr>
##    <tr>
##        <td align=left>Authenticated:</td><td>#if($item.isActive())YES #else NO #end</td>
##    </tr>
</table>
<script>

    (function(){

        var usersGroups;
        var topXNAT = window.top.XNAT;
        var USERNAME = '$!item.getProperty("login")';
        var isVerified = #if ($item.getBooleanProperty("verified")) true #else false #end;
        var isEnabled = #if ($item.getBooleanProperty("enabled")) true #else false #end;

        var userVerifiedSwitch = $('#user-verified-switch').empty();
        var userEnabledSwitch = $('#user-enabled-switch').empty();

        function setupSwitches(){

            usersGroups = topXNAT.admin.usersGroups;

            var verifiedSwitch = usersGroups.userSwitchElement(USERNAME, 'verified', isVerified);
            verifiedSwitch.render(userVerifiedSwitch);

            var enabledSwitch = usersGroups.userSwitchElement(USERNAME, 'enabled', isEnabled);
            enabledSwitch.render(userEnabledSwitch);

            var userAccountDetailsTable = $('#user-account-details');
            userAccountDetailsTable.on('change', 'input.user-verified', usersGroups.setVerified);
            userAccountDetailsTable.on('change', 'input.user-enabled', usersGroups.setEnabled);
        }


        XNAT.xhr.get(XNAT.url.rootUrl('/xapi/siteConfig')).done(function(siteConfig){

            XNAT.data = extend(true, XNAT.data||{}, {
                siteConfig: siteConfig
            });

            if (topXNAT && topXNAT.admin && topXNAT.admin.usersGroups && topXNAT.admin.usersGroups.loaded) {
                setupSwitches();
            }
            else {
                loadjs(XNAT.url.rootUrl('/scripts/xnat/admin/usersGroups.js'), function(){
                    usersGroups = topXNAT.admin.usersGroups;
                    setupSwitches();
                }, function(){
                    userVerifiedSwitch.html(isVerified ? 'Yes' : 'No');
                    userEnabledSwitch.html(isEnabled ? 'Yes' : 'No');
                })
            }

        });


    })();

</script>